Repository AliAkbarBaloch/Teacher-Student-Allocation-System: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, backend-test, frontend-build, frontend-lint, snyk_test

.gitlab-ci.yml:

include: 
- template: Security/Dependency-Scanning.gitlab-ci.yml
- template: Security/Secret-Detection.gitlab-ci.yml 

stages:
  - build
  - test

backend-build:
  stage: build
  image: openjdk:17-ea-slim
  script:
    - cd AllocationSystemBackend
    - chmod +x gradlew
    - ./gradlew build
  artifacts:
    paths:
      - AllocationSystemBackend/build/
  rules:
    - changes:
        - AllocationSystemBackend/**

backend-test:
  stage: test
  image: openjdk:17-ea-slim
  script:
    - cd AllocationSystemBackend
    - chmod +x gradlew
    - ./gradlew test
  rules:
    - changes:
        - AllocationSystemBackend/**

frontend-build:
  stage: build
  image: node:20
  script:
    - cd AllocationSystemFrontend
    - npm ci
    - npm run build
  artifacts:
    paths:
      - AllocationSystemFrontend/dist/
  rules:
    - changes:
        - AllocationSystemFrontend/**

frontend-lint:
  stage: test
  image: node:20
  script:
    - cd AllocationSystemFrontend
    - npm ci
    - npm run lint
    - npm test
  rules:
    - changes:
        - AllocationSystemFrontend/**

snyk_test:
  stage: test
  image: node:20
  script:
    - cd AllocationSystemFrontend
    - npm ci
    # fail fast if token is missing
    - 'test -n "$SNYK_TOKEN" || (echo "ERROR: SNYK_TOKEN is not set in CI/CD Variables" && exit 1)'
    # use npx so we don't need global install
    - npx snyk@latest auth "$SNYK_TOKEN"
    # scan; fail on medium+ issues (tune if you want)
    - npx snyk@latest test --severity-threshold=medium
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - AllocationSystemFrontend/**
        - package.json
        - package-lock.json
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

# Check for accidentally commited secrets in diffs and default branch 

secret_detection:
  stage: test 
  rules: 
  - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Set up the docker environment
  AllocationSystemBackend/Dockerfile
  AllocationSystemFrontend/.dockerignore
  AllocationSystemFrontend/Dockerfile
  AllocationSystemFrontend/nginx.conf
  docker-compose.yml
Due: backend-build, backend-test, frontend-build, frontend-lint, snyk_test

Bugfix/issue#1 CI-CD pipeline
  .gitlab-ci.yml
  .vscode/settings.json
  AllocationSystemBackend/src/test/java/de/unipassau/allocationsystem/DummyUnitTest.java
  AllocationSystemFrontend/package-lock.json
  AllocationSystemFrontend/package.json
  AllocationSystemFrontend/src/setupTests.ts
  AllocationSystemFrontend/src/test/App.test.tsx
  AllocationSystemFrontend/src/test/Dummy.test.ts
  AllocationSystemFrontend/tsconfig.app.json
  AllocationSystemFrontend/vitest.config.ts
Due: frontend-build, frontend-lint, snyk_test

Bugfix/issue#11 design document initial backend api specification
  .gitlab-ci.yml
  AllocationSystemBackend/README_API.md
  AllocationSystemBackend/build.gradle
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/config/SecurityConfig.java
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/controller/AllocationController.java
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/controller/OpenApiController.java
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/controller/RoomController.java
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/controller/StudentController.java
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/dto/AllocationCreateRequest.java
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/dto/AllocationDto.java
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/dto/RoomDto.java
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/dto/StudentDto.java
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/exception/ErrorResponse.java
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/exception/GlobalExceptionHandler.java
  AllocationSystemBackend/src/main/resources/application.properties
  AllocationSystemBackend/src/main/resources/openapi.yaml
  AllocationSystemBackend/src/main/resources/static/openapi.yaml
  AllocationSystemBackend/src/main/resources/static/swagger-ui/index.html
  AllocationSystemBackend/src/test/java/de/unipassau/allocationsystem/controller/ApiIntegrationTest.java
Due: backend-build, backend-test

Bugfix/issue#12 configure backend database setup and migrations
  .vscode.local-backup-1762895110/settings.json
  AllocationSystemBackend/DATABASE_SETUP.md
  AllocationSystemBackend/build.gradle
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/config/SecurityConfig.java
  AllocationSystemBackend/src/main/resources/application.properties
  AllocationSystemBackend/src/main/resources/db/migration/V1__init.sql
  AllocationSystemBackend/src/test/java/de/unipassau/allocationsystem/AllocationMigrationIntegrationTest.java
Due: backend-build, backend-test

Edit build.gradle --Changed from version 21 to 17--for CI-CD pipeline failed
  AllocationSystemBackend/build.gradle
Due: backend-build, backend-test

fix pipe issues in frontend and backend
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/config/SecurityConfig.java
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/config/WebConfig.java
  AllocationSystemBackend/src/main/resources/application.properties
  AllocationSystemBackend/src/test/java/de/unipassau/allocationsystem/controller/ApiIntegrationTest.java
  AllocationSystemFrontend/package-lock.json
  AllocationSystemFrontend/package.json
Due: frontend-build, frontend-lint, snyk_test

Edit SecurityConfig.java -- Updated as there were duplicated imports
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/config/SecurityConfig.java
Due: none

fix issue of packages
  .gitlab-ci.yml
Due: none

fix java version issue
  AllocationSystemBackend/build.gradle
Due: backend-build, backend-test

improve the ci/cd
  .gitlab-ci.yml
Due: none

enable secret detection
  .gitlab-ci.yml
Due: none

fix running of front end test
  .gitlab-ci.yml
  AllocationSystemFrontend/package.json
Due: frontend-build, frontend-lint, snyk_test

Add checkstyle
  .gitlab-ci.yml
  AllocationSystemBackend/build.gradle
  AllocationSystemBackend/config/checkstyle/checkstyle.xml
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/config/WebConfig.java
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/controller/StudentController.java
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/dto/AllocationCreateRequest.java
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/dto/AllocationDto.java
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/dto/RoomDto.java
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/dto/StudentDto.java
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/exception/ErrorResponse.java
Due: backend-build, backend-test

Add JWT authentication and user management
  AllocationSystemBackend/build.gradle
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/config/SecurityConfig.java
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/config/WebConfig.java
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/entity/User.java
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/repository/UserRepository.java
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/security/JwtAuthenticationEntryPoint.java
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/security/JwtAuthenticationFilter.java
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/service/CustomUserDetailsService.java
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/utils/JWTUtil.java
  AllocationSystemBackend/src/main/resources/application.properties
Due: backend-build, backend-test

fix checkstyle issue
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/entity/User.java
Due: none

comment severity
  AllocationSystemBackend/config/checkstyle/checkstyle.xml
Due: none

update checkstyle
  AllocationSystemBackend/config/checkstyle/checkstyle.xml
Due: none

fix running of gitlab-ci on checkstyle change
  .gitlab-ci.yml
Due: none

Create the system ER Diagram
  Data/diagrams/003-entity-relation-diagram.mmd
Due: none

index.ts json.d.ts tsconfig.app.json
  AllocationSystemFrontend/src/i18n/index.ts
  AllocationSystemFrontend/src/types/json.d.ts
  AllocationSystemFrontend/tsconfig.app.json
Due: frontend-build, frontend-lint, snyk_test

add i18n setup with English and German translations
  AllocationSystemFrontend/src/App/App.tsx
  AllocationSystemFrontend/src/App/main.tsx
  AllocationSystemFrontend/src/i18n/index.ts
  AllocationSystemFrontend/src/i18n/locales/de/common.json
  AllocationSystemFrontend/src/i18n/locales/en/common.json
Due: none

fix i18n inport path in main.tsx
  AllocationSystemFrontend/src/App/main.tsx
Due: none

chores(types) : types json modules as Record<string, unknown> instead of any
  AllocationSystemFrontend/src/types/json.d.ts
Due: none

test(i18n):initialize i18n in tests and add app.title translation
  AllocationSystemFrontend/src/App/App.test.tsx
  AllocationSystemFrontend/src/i18n/locales/de/common.json
  AllocationSystemFrontend/src/i18n/locales/en/common.json
Due: none

chore: update dependencies and env.example
  AllocationSystemFrontend/.env.example
  AllocationSystemFrontend/package-lock.json
  AllocationSystemFrontend/package.json
  AllocationSystemFrontend/src/config/.env.example
Due: frontend-build, frontend-lint, snyk_test

feat: add ui componentس
  AllocationSystemFrontend/src/components/ui/alert-dialog.tsx
  AllocationSystemFrontend/src/components/ui/badge.tsx
  AllocationSystemFrontend/src/components/ui/button-variants.ts
  AllocationSystemFrontend/src/components/ui/button.tsx
  AllocationSystemFrontend/src/components/ui/checkbox.tsx
  AllocationSystemFrontend/src/components/ui/dialog.tsx
  AllocationSystemFrontend/src/components/ui/input.tsx
  AllocationSystemFrontend/src/components/ui/label.tsx
  AllocationSystemFrontend/src/components/ui/pagination.tsx
  AllocationSystemFrontend/src/components/ui/radio-group.tsx
  AllocationSystemFrontend/src/components/ui/select.tsx
  AllocationSystemFrontend/src/components/ui/table.tsx
Due: none

feat: add DataTable component with CRUD operations and responsive design
  AllocationSystemFrontend/src/components/common/DataTable.tsx
  AllocationSystemFrontend/src/components/common/DataTableDialog.tsx
  AllocationSystemFrontend/src/components/common/DataTablePagination.tsx
  AllocationSystemFrontend/src/components/common/DataTableToolbar.tsx
  AllocationSystemFrontend/src/types/datatable.types.ts
Due: none

refactor: remove obsolete test files
  AllocationSystemFrontend/src/test/App.test.tsx
  AllocationSystemFrontend/src/test/Dummy.test.ts
Due: none

chore: add data table usage example
  AllocationSystemFrontend/src/pages/home/HomePage.tsx
Due: none

refactor: clean up DataTable components and introduce badge variants
  AllocationSystemFrontend/src/components/common/DataTable.tsx
  AllocationSystemFrontend/src/components/common/DataTableDialog.tsx
  AllocationSystemFrontend/src/components/common/DataTablePagination.tsx
  AllocationSystemFrontend/src/components/ui/badge-variants.ts
  AllocationSystemFrontend/src/components/ui/badge.tsx
  AllocationSystemFrontend/src/components/ui/select.tsx
Due: none

chore: removed unused React import to fix build failure
  AllocationSystemFrontend/src/components/common/DataTableToolbar.tsx
Due: none

Add API config, generic response, and update security
  AllocationSystemBackend/.gitignore
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/config/ApiConfiguration.java
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/config/SecurityConfig.java
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/config/WebConfig.java
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/dto/ApiResponse.java
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/exception/GlobalExceptionHandler.java
Due: backend-build, backend-test

Add custom exceptions and improve error handling
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/exception/DuplicateResourceException.java
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/exception/ErrorResponse.java
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/exception/GlobalExceptionHandler.java
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/exception/ResourceNotFoundException.java
Due: none

Add ResponseHandler utility for HTTP responses
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/utils/ResponseHandler.java
Due: none

Add permission management module
  AllocationSystemBackend/config/checkstyle/checkstyle.xml
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/config/SecurityConfig.java
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/constant/PermissionConstants.java
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/controller/PermissionController.java
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/controller/StudentController.java
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/dto/PermissionDto.java
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/entity/Permission.java
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/mapper/PermissionMapper.java
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/repository/PermissionRepository.java
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/service/PermissionService.java
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/utils/PaginationUtils.java
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/utils/ResponseHandler.java
  AllocationSystemBackend/src/main/resources/application.properties
Due: none

Update package-lock.json dependencies
  AllocationSystemFrontend/package-lock.json
Due: frontend-build, frontend-lint, snyk_test

change App folder to app
  AllocationSystemFrontend/src/App/App.test.tsx
  AllocationSystemFrontend/src/App/App.tsx
  AllocationSystemFrontend/src/App/main.tsx
  AllocationSystemFrontend/src/app/App.test.tsx
  AllocationSystemFrontend/src/app/App.tsx
  AllocationSystemFrontend/src/app/index.css
  AllocationSystemFrontend/src/app/main.tsx
  AllocationSystemFrontend/src/app/routes.tsx
Due: none

change to oldcode
  AllocationSystemFrontend/src/App/App.test.tsx
  AllocationSystemFrontend/src/App/App.tsx
  AllocationSystemFrontend/src/App/main.tsx
  AllocationSystemFrontend/src/OldCode/App.test.tsx
  AllocationSystemFrontend/src/OldCode/App.tsx
  AllocationSystemFrontend/src/OldCode/index.css
  AllocationSystemFrontend/src/OldCode/main.tsx
  AllocationSystemFrontend/src/OldCode/routes.tsx
Due: none

rename back to app
  AllocationSystemFrontend/src/app/App.test.tsx
  AllocationSystemFrontend/src/app/App.tsx
  AllocationSystemFrontend/src/app/index.css
  AllocationSystemFrontend/src/app/main.tsx
  AllocationSystemFrontend/src/app/routes.tsx
Due: none

Resolve "Backend Implement Audit Logging System"
  .gitlab-ci.yml
  .vscode.local-backup-1762895110/settings.json
  .vscode/settings.json
  AllocationSystemBackend/build.gradle
  AllocationSystemBackend/gradlew
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/aspect/AuditAspect.java
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/aspect/Audited.java
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/config/AsyncConfig.java
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/config/JacksonConfig.java
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/controller/AuditLogController.java
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/dto/AuditLogDto.java
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/dto/AuditLogFilterDto.java
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/dto/AuditLogStatsDto.java
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/entity/AuditLog.java
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/repository/AuditLogRepository.java
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/service/AuditLogService.java
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/service/UserService.java
  AllocationSystemBackend/src/main/resources/db/migration/V2__create_audit_logs.sql
  AllocationSystemBackend/src/test/java/de/unipassau/allocationsystem/controller/AuditLogControllerTest.java
  AllocationSystemBackend/src/test/java/de/unipassau/allocationsystem/service/AuditLogServiceTest.java
Due: backend-build, backend-test
