Repository AliAkbarBaloch/Teacher-Student-Allocation-System: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, backend-test, frontend-build, frontend-test

backend-build:
  stage: build
  image: openjdk:17-slim-buster
  script:
  - cd AllocationSystemBackend
  - chmod +x gradlew
  - ./gradlew build
  artifacts:
    paths:
    - AllocationSystemBackend/build/

backend-test:
  stage: test
  image: openjdk:17-slim-buster
  script:
  - cd AllocationSystemBackend
  - chmod +x gradlew
  - ./gradlew test

frontend-build:
  stage: build
  image: node:20
  script:
  - cd AllocationSystemFrontend
  - npm ci
  - npm run build
  artifacts:
    paths:
    - AllocationSystemFrontend/dist/

frontend-test:
  stage: test
  image: node:20
  script:
  - cd AllocationSystemFrontend
  - npm ci
  - npm test -- --watchAll=false

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

chore: ignore env files
  .gitignore
Due: none

docs: update README.md to reflect the new architecture and setup
  AllocationSystemFrontend/README.md
Due: frontend-build, frontend-test

feat: integrate Tailwind CSS and set up project structure
  AllocationSystemFrontend/components.json
  AllocationSystemFrontend/index.html
  AllocationSystemFrontend/package-lock.json
  AllocationSystemFrontend/package.json
  AllocationSystemFrontend/src/App/index.css
  AllocationSystemFrontend/src/App/main.tsx
  AllocationSystemFrontend/src/config/.env.example
  AllocationSystemFrontend/tsconfig.app.json
  AllocationSystemFrontend/tsconfig.json
  AllocationSystemFrontend/vite.config.ts
Due: frontend-build, frontend-test

chore: update HTML document title to "Internship Allocation System"
  AllocationSystemFrontend/index.html
Due: frontend-build, frontend-test

refactor: restructure application by removing old components and adding new ones
  AllocationSystemFrontend/src/App.css
  AllocationSystemFrontend/src/App.tsx
  AllocationSystemFrontend/src/App/App.tsx
  AllocationSystemFrontend/src/config/constants.ts
  AllocationSystemFrontend/src/config/routes.ts
  AllocationSystemFrontend/src/index.css
  AllocationSystemFrontend/src/lib/utils.ts
  AllocationSystemFrontend/src/main.tsx
Due: none

feat(frontend): env variable support(config, example, vite types)
  AllocationSystemFrontend/.env.example
  AllocationSystemFrontend/src/config.ts
  AllocationSystemFrontend/src/vite-env.d.ts
Due: frontend-build, frontend-test

feat: enhance testing setup with Vitest and Testing Library
  .gitlab-ci.yml
  AllocationSystemFrontend/package-lock.json
  AllocationSystemFrontend/package.json
  AllocationSystemFrontend/src/App/App.test.tsx
  AllocationSystemFrontend/src/tests/setup.ts
  AllocationSystemFrontend/tsconfig.app.json
  AllocationSystemFrontend/vite.config.ts
Due: frontend-build, frontend-test

ci (security) : add dependency scanning and secret detection (MR + default branch)
  .gitlab-ci.yml
  AllocationSystemFrontend/src/main.tsx
Due: none

ci(frontend) : fix failing test job (no test) - run lint
  .gitlab-ci.yml
Due: none

ci(ds): fix dependency scanning working directory
  .gitlab-ci.yml
Due: none

ci(ds): use analyzer image and scan AllocationSystemFrontend
  .gitlab-ci.yml
Due: none

ci: add dependency scanning via Snyk and delete broken analyzer job
  .gitlab-ci.yml
Due: none

ci: snyk fix
  .gitlab-ci.yml
Due: none

docs: update README.md to reflect changes in page directory structure
  AllocationSystemFrontend/README.md
Due: frontend-build, frontend-test

test: update App component test to always pass for now
  AllocationSystemFrontend/src/App/App.test.tsx
Due: none

chore: add dependencies for theme switching
  AllocationSystemFrontend/package-lock.json
  AllocationSystemFrontend/package.json
Due: frontend-build, frontend-test

feat(theme): add theme type definitions
  AllocationSystemFrontend/src/types/theme.types.ts
Due: none

feat(theme): implement core theme management logic
  AllocationSystemFrontend/src/lib/theme/index.ts
  AllocationSystemFrontend/src/lib/theme/useThemeMode.ts
Due: none

feat(theme): add React theme provider and hook
  AllocationSystemFrontend/src/hooks/useTheme.ts
  AllocationSystemFrontend/src/providers/ThemeProvider.tsx
  AllocationSystemFrontend/src/providers/theme-context.tsx
Due: none

feat(ui): add Shadcn UI components
  AllocationSystemFrontend/src/components/ui/button.tsx
  AllocationSystemFrontend/src/components/ui/dropdown-menu.tsx
Due: none

feat(theme): add ThemeToggle component
  AllocationSystemFrontend/src/components/common/ThemeToggle.tsx
Due: none

feat(theme): configure TailwindCSS v4 dark mode
  AllocationSystemFrontend/src/App/index.css
Due: none

feat(theme): integrate theme switching into app for testing
  AllocationSystemFrontend/src/App/App.tsx
  AllocationSystemFrontend/src/App/main.tsx
Due: none

chore(frontend) : refresh package-lock.json to fix snyk out of sync
  AllocationSystemFrontend/package-lock.json
Due: frontend-build, frontend-test

chore(frontend): recreate package-lock.json to fix out of sync deps
  AllocationSystemFrontend/package-lock.json
Due: frontend-build, frontend-test

chore(frontend): move tailwind to devDeps and recreate package-lock.json
  AllocationSystemFrontend/package-lock.json
  AllocationSystemFrontend/package.json
Due: frontend-build, frontend-test

chore(frontend): add i18n deps (i18next, react-i18next, language detector)
  AllocationSystemFrontend/package-lock.json
  AllocationSystemFrontend/package.json
Due: frontend-build, frontend-test

feat(store): add typed zustand theme slice and persistence
  AllocationSystemFrontend/src/store/index.ts
  AllocationSystemFrontend/src/store/slices/uiSlice.ts
Due: none

refactor(theme): use store-backed theme and reactive resolvedTheme
  AllocationSystemFrontend/src/providers/ThemeProvider.tsx
Due: none

chore(deps): add react-router-dom and zustand for state management
  AllocationSystemFrontend/package-lock.json
  AllocationSystemFrontend/package.json
Due: frontend-build, frontend-test

feat(router): configure React Router and route constants
  AllocationSystemFrontend/src/App/App.tsx
  AllocationSystemFrontend/src/App/main.tsx
  AllocationSystemFrontend/src/App/routes.tsx
  AllocationSystemFrontend/src/config/routes.ts
Due: none

feat(layout): add temporary Header/Footer/Sidebar and Home page
  AllocationSystemFrontend/src/components/layout/Footer.tsx
  AllocationSystemFrontend/src/components/layout/Header.tsx
  AllocationSystemFrontend/src/components/layout/Sidebar.tsx
  AllocationSystemFrontend/src/pages/home/HomePage.tsx
Due: none

fix(index): update script and stylesheet paths to app entry
  AllocationSystemFrontend/index.html
Due: frontend-build, frontend-test

refactor(app): rename src/App to src/app for case-sensitive CI
  AllocationSystemFrontend/components.json
  AllocationSystemFrontend/src/app/App.test.tsx
  AllocationSystemFrontend/src/app/App.tsx
  AllocationSystemFrontend/src/app/index.css
  AllocationSystemFrontend/src/app/main.tsx
  AllocationSystemFrontend/src/app/routes.tsx
Due: frontend-build, frontend-test

chore(ts) enable resolveJsonModule and synthetic default imports
  AllocationSystemFrontend/tsconfig.app.json
Due: frontend-build, frontend-test

#2 Set up Backend Project Structure & Changed the project from Gradle to Maven
  AllocationSystemBackend/build.gradle
  AllocationSystemBackend/gradlew
  AllocationSystemBackend/gradlew.bat
  AllocationSystemBackend/mvnw
  AllocationSystemBackend/mvnw.cmd
  AllocationSystemBackend/pom.xml
  AllocationSystemBackend/settings.gradle
  AllocationSystemBackend/src/main/java/de/unipassau/allocationsystem/config/WebConfig.java
  AllocationSystemBackend/src/main/resources/application.properties
Due: backend-build, backend-test

Revert back the system build to Gradle
  AllocationSystemBackend/build.gradle
  AllocationSystemBackend/gradlew
  AllocationSystemBackend/gradlew.bat
  AllocationSystemBackend/mvnw
  AllocationSystemBackend/mvnw.cmd
  AllocationSystemBackend/pom.xml
  AllocationSystemBackend/settings.gradle
Due: backend-build, backend-test

Path conditions:
  backend-build: any of: AllocationSystemBackend/**
  backend-test: any of: AllocationSystemBackend/**
  frontend-build: any of: AllocationSystemFrontend/**
  frontend-test: any of: AllocationSystemFrontend/**
